html {
     font-family: "Open Sans", sans-serif;
     font-size: 23px;
     line-height: .8rem;
     margin-left: 3.5rem;
}

h1 {
    font-size: 8rem;
    margin-bottom: 7rem;
    margin-left: -2.25rem;
    padding-top: .5rem;
    font-weight: 500;
}

.subtitle {
    margin-left: 0px;
    font-weight: 600;
    margin-bottom: 0px;

}

h2 {
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-left: -1.5rem;
}

.header {

    font-size: 0.7rem;
    margin-bottom: 0px;
    color: lightslategray;
}